/*.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inherit;
    gap: 10px; 
    width: 100%;
    height: 100%;
}

.contact__title {
    position: relative;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    padding: 10px;
    margin-top: 40px;
}

.contact__title span {
    color: var(--color-secondary);
}

.contact__text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-grey-2);
}

.contact__form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2vw 4vw;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
}

.contact__form .contact__label {
    padding: 16px 2px 10px;
}

.contact__label {
    position: absolute;
    font-size: 15px;
    color: var(--color-secondary);
    margin-left: 18px;
    margin-bottom: 8px;
}

.contact__form .contact__input {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-size: 15px;
    background-color: var(--color-grey-1);
    border-radius: 10px;
    width: 100%;
}

.contact__form .contact__input:focus,
.contact__form .contact__input:valid {
    background-color: white;
}

form button {
    padding: 15px;
    background: var(--color-secondary);
    color: var(--color-white);
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 80px;
}*/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    width: 100%;
    height: 100%;
}

.contact__title h2 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    padding: 10px;
    margin-top: 40px;
}

.contact__text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-grey-2);
}

.contact__title span {
    color: var(--color-secondary);
}

.contact__container {
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
    margin-top: 20px;
}

.contact__image {
    background-image: url(../img/gir_programmer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    flex: none;
    flex-grow: 0;
    height: 360px;
    margin-right: 100px;
    width: 368px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2vw 4vw;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
}

.contact__form .contact__label {
    padding: 16px 2px 10px;
}

.contact__label {
    position: absolute;
    font-size: 15px;
    color: var(--color-secondary);
    margin-left: 18px;
    margin-bottom: 8px;
}

.contact__form .contact__input {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-size: 15px;
    background-color: var(--color-grey-1);
    border-radius: 10px;
    width: 100%;
}

.contact__form .contact__input:focus,
.contact__form .contact__input:valid {
    background-color: white;
}

form button {
    padding: 15px;
    background: var(--color-secondary);
    color: var(--color-white);
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 80px;
}

.contact__box--invalid {
    margin-bottom: 0.5rem;
}

.contact__box--invalid .contact__input {
    border: 1px solid var(--color-purple);
    border-radius: 7px;
}

.contact__box--invalid .contact__label {
    color: var(--color-purple);
}

.contact__error-message {
    display: none;
}

.contact__box--invalid .contact__error-message {
    color: var(--color-purple);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}








